div#container{
	.section-title{
		font-size: 20px;
		padding-left: 30px;
		background: url(../images/part/section/section-title.png) 0 50% no-repeat;
		margin-bottom: 20px;
	}
	.search-area{
		>*{
			display: inline-block;
			height: 40px;
			border-radius: 5px;
			border: 1px solid #d5d5d5;
			background-color: #fff;
			vertical-align: middle;
			padding: 0;
			.form-control{
				height: 38px;
				box-shadow: none;
				border: none;
			}
		}
		.text-box{
			width: 300px;
			.form-control{
				
			}
			
		}
		.select-box{
			z-index: 1;
			position: relative;
			width: 210px;
			height: 40px;
			line-height: 40px;
			background: url();
			overflow: hidden;
			
			.select-label{
				z-index: -1;
				position: absolute;
				top: 0;
				left: 10px;
				height: 40px;
				line-height: 40px;
				color: #999;
			}
			select{
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-family: inherit;
				border: 0;
				opacity: 0;
				filter: lph(opacity=0);
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
			
			&:after{
				position: absolute;
				right: 0;
				top: 0;
				clear: both;
				display: block;
				content: '';
				width: 40px;
				height: 40px;
				background-color: #fafafa;
				background-image: url(../images/part/section/form/select-down.png);
				background-position: 50% 50%;
				background-repeat: no-repeat;
				border-left: 1px solid #d5d5d5;
			}
		}
		.submit-btn{
			width: 40px;
			background: url(../images/part/section/form/search-icon.png) 50% 50% no-repeat;
		}
		.all-btn{
			padding: 0 11px;
		}
		
	}
	
	
	
}