<!DOCTYPE html>
<!-- App Header.html -->
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="TCK 홈페이지 입니다." />
<title>TCK</title>
<meta name="theme-color" content="#977049">
<meta name="msapplication-navbutton-color" content="#977049">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="../resources/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#977049">
<meta property="og:title" content="TCK">
<meta property="og:url" content="http://도메인/">
<meta property="og:description" content="TCK 홈페이지 입니다.">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="TCK">
<meta name="twitter:url" content="http://도메인/">
<meta name="twitter:description" content="TCK 홈페이지 입니다.">
<link rel="stylesheet" href="../resources/front/css/phone.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-phone.css" />
<!--[if lt IE 9]><script src="../resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
<script src="../resources/front/js/part/datepicker.js"></script>
<script src="../resources/front/js/part/dtree.js"></script>
<script src="../resources/front/js/part/app.js"></script>
<script src="../resources/front/js/part/page.js"></script>
<script src="../resources/front/js/part/tab.js"></script>
<script src="../resources/front/js/part/input.js"></script>
</head>
<body class="layout-page">
<!-- //App Header.html -->
<div id="wrap">
	<div id="header-left">
		<h1 class="logo">
			<a href="/">
					<span class="sr-only">
						TCK 비즈 메시지센터
						<span class="small">trans cosmos korea biz message center</span>
					</span>
			</a>
		</h1>
		<div class="lnb">
			<ul class="lnb-list">
				<li class="eq-0 ">
					<a href="#">
						<span>운영설정</span>
					</a>
					<ul>
						<li >
							<a href="setting-1.html">
									<span>
										상담 운영 설정
									</span>
							</a>
						</li>
						<li >
							<a href="setting-2.html">
									<span>
										챗봇 설정
									</span>
							</a>
						</li>
						<li >
							<a href="setting-3.html">
									<span>
										과금 보기
									</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="eq-1 ">
					<a href="bill.html">
						<span>과금내역</span>
					</a>
				</li>
				<li class="eq-2 ">
					<a href="stats-stats.html">
						<span>통계지표</span>
					</a>
					<ul>
						<li >
							<a href="stats-stats.html">
									<span>
										통계
									</span>
							</a>
						</li>
						<li >
							<a href="stats-dashboard.html">
									<span>
										대시보드
									</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="eq-3 ">
					<a href="rawdate-1.html">
						<span>Rawdate</span>
					</a>
					<ul>
						<li >
							<a href="rawdate-1.html">
								<span>
									데이터 보관
								</span>
							</a>
						</li>
						<li >
							<a href="rawdate-2.html">
								<span>
									Rawdata
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="eq-4 ">
					<a href="master.html">
						<span>마스터 메뉴</span>
					</a>
					<ul>
						<li >
							<a href="master-admin.html">
									<span>
										조직 및 계정 관리
									</span>
							</a>
						</li>
						<li >
							<a href="master-notice.html">
									<span>
										공지사항
									</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<a href="#" class="header-left-control">
			<span class="sr-only">
				header-left controller
			</span>
		</a>
	</div>
	<div id="header-top">
		<div class="gnb">
			<ul>
				<li class="eq-0">
					<span class="company">
						트랜스코스모스코리아
					</span>
				</li>
				<li class="eq-1 individual">
					<span class="name">김유신</span>
					님 환영합니다.

					<ul class="individual-list">
						<li>
							<a href="#">
								로그아웃
							</a>
						</li>
						<!--
						<li>
							<a href="#">
								로그인
							</a>
						</li>
						-->
						<li>
							<a href="#">
								내정보
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="member">
			<a href="login.html">
				<span class="sr-only">member</span>
			</a>
		</div>
	</div>
	<!-- /#header -->
	<div id="container"><div class="section">
			<h2 class="section-title">
			<span class="icon icon-this"></span>
			공지사항
		</h2>
		<div id="content">
<form action="">
	<div class="search-box">
		<div class="select-box w120">
			<label for="select" class="select-label"><span>제목</span></label>
			<select name="" id="select" class="form-control">
				<option value="">제목</option>
				<option value="">내용</option>
				<option value="">작성자</option>
			</select>
		</div>
		<div class="text-box">
			<label for="" class="sr-only">회사명 검색창</label>
			<input type="text" class="form-control" placeholder="회사명">
		</div>
		<button type="submit" class="submit-btn">
				<span class="sr-only">
					검색버튼
				</span>
		</button>
	</div>
</form>
<div class="result-box">
	<table class="table-primary disable-rowline">
		<thead>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>첨부</th>
			<th>크기</th>
			<th>조회</th>
			<th>작성일</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>01</td>
			<td><a  data-toggle="modal" href="#conpopup">공지사항입니다</a></td>
			<td>Tom</td>
			<td>유</td>
			<td>3.44kb</td>
			<td>11</td>
			<td>17-01-03</td>
		</tr>
		<tr>
			<td>02</td>
			<td><a  data-toggle="modal" href="#conpopup">공지사항입니다</a></td>
			<td>Tom</td>
			<td>무</td>
			<td>3.44kb</td>
			<td>11</td>
			<td>17-01-03</td>
		</tr>
		<tr>
			<td>03</td>
			<td><a  data-toggle="modal" href="#conpopup">공지사항입니다</a></td>
			<td>Tom</td>
			<td>유</td>
			<td>3.44kb</td>
			<td>11</td>
			<td>17-01-03</td>
		</tr>
		<tr>
			<td>04</td>
			<td><a  data-toggle="modal" href="#conpopup">공지사항입니다</a></td>
			<td>Tom</td>
			<td>무</td>
			<td>3.44kb</td>
			<td>11</td>
			<td>17-01-03</td>
		</tr>
		<tr>
			<td>05</td>
			<td><a  data-toggle="modal" href="#conpopup">공지사항입니다</a></td>
			<td>Tom</td>
			<td>무</td>
			<td>3.44kb</td>
			<td>11</td>
			<td>17-01-03</td>
		</tr>
		<tr>
			<td>06</td>
			<td><a  data-toggle="modal" href="#conpopup">공지사항입니다</a></td>
			<td>Tom</td>
			<td>유</td>
			<td>3.44kb</td>
			<td>11</td>
			<td>17-01-03</td>
		</tr>
		<tr>
			<td>07</td>
			<td><a  data-toggle="modal" href="#conpopup">공지사항입니다</a></td>
			<td>Tom</td>
			<td>유</td>
			<td>3.44kb</td>
			<td>11</td>
			<td>17-01-03</td>
		</tr>
		</tbody>
	</table>
</div>
<div class="result-foot">
	<div class="page-control">
		<a href="#" class="prev">이전</a>
		<ul class="pagination">
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
		</ul>
		<a href="#" class="next">다음</a>
	</div>
</div>

</div>
<!-- /#content -->
</div>
<!-- /.section --></div>
<!-- /#container -->
<div id="footer">
	<p class="copyright">
		ⓒ 2017. transcosmos korea Inc. All rights reserved.
	</p>
	<a class="foot-logo">
		<span class="sr-only">transcosmos</span>
	</a>
</div>
<!-- /#footer -->
</div>
<!-- /#wrap -->
<!-- App Footer.html -->
</body>
</html>
<!-- //App Footer.html -->
<!-- 팝업 -->
<div id="conpopup" role="dialog" class="modal fade">
	<div class="modal-dialog">
		<div id="detail-popup" class="modal-content">
			<h2 class="sr-only">
				팝업창
			</h2>
			<div class="head">
				<ul class="tool-list">
					<li class="edit">
						<a href="#">
						<span>
							수정
						</span>
						</a>
					</li>
					<li class="delete">
						<a href="#">
						<span>
							삭제
						</span>
						</a>
					</li>
					<li class="comment">
						<a href="#">
						<span>
							댓글
						</span>
						</a>
					</li>
					<li class="print">
						<a href="#">
						<span>
							인쇄
						</span>
						</a>
					</li>
				</ul>
				<a href="#" class="close-popup" data-dismiss="modal">
					<span class="sr-only">
						팝업 닫기
					</span>
				</a>
			</div>
			<div class="cont">
				<div class="cont-box">
					<div class="notice-detail">
						<h3 class="title">
							공지사항입니다
						</h3>
						<ul class="writer-info">
							<li class="name">
								작성자
								<span>
								TCK마스터
							</span>
							</li>
							<li class="time">
								작성일
								<span>
								2017-01-01 20:50
							</span>
							</li>
							<li class="count">
								조회수
								<span>
							230
							</span>
							</li>
						</ul>
						<div class="textarea-style">
							<div class="inner-wrap">
								&lt;공지사항&gt;<br>
								공지사항입니다.<br>
								.<br>
								.<br>
								.<br>
								.<br>
								감사합니다.<br>
							</div>
						</div>
						<ul class="comment-list">
							<li>알겠습니다.<span class="name">홍길동</span><span class="datetime">2017/01/03 14:00:00</span></li>
							<li>알겠습니다.<span class="name">홍길동</span><span class="datetime">2017/01/03 14:00:00</span></li>
							<li>알겠습니다.<span class="name">홍길동</span><span class="datetime">2017/01/03 14:00:00</span></li>
							<li>알겠습니다.<span class="name">홍길동</span><span class="datetime">2017/01/03 14:00:00</span></li>
							<li>알겠습니다.<span class="name">홍길동</span><span class="datetime">2017/01/03 14:00:00</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //팝업 -->
