<!DOCTYPE html>
<!-- App Header.html -->
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="TCK 홈페이지 입니다." />
<title>TCK</title>
<meta name="theme-color" content="#977049">
<meta name="msapplication-navbutton-color" content="#977049">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="../resources/favicon/android-icon-192x192.png">
<link rel="apple-touch-icon" sizes="57x57" href="../resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="../resources/favicon/favicon.ico">
<link rel="manifest" href="../resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#977049">
<meta name="msapplication-TileImage" content="../resources/favicon/android-icon-192x192.png">
<meta property="og:title" content="TCK">
<meta property="og:url" content="http://도메인/">
<meta property="og:image" content="../resources/favicon/android-icon-192x192.png">
<meta property="og:description" content="TCK 홈페이지 입니다.">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="TCK">
<meta name="twitter:url" content="http://도메인/">
<meta name="twitter:image" content="../resources/favicon/android-icon-192x192.png">
<meta name="twitter:description" content="TCK 홈페이지 입니다.">
<link rel="stylesheet" href="../resources/front/css/phone.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-phone.css" />
<!--[if lt IE 9]><script src="../resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
<script src="../resources/front/js/part/datepicker.js"></script>
<script src="../resources/front/js/part/dtree.js"></script>
<script src="../resources/front/js/part/app.js"></script>
<script src="../resources/front/js/part/page.js"></script>
<script src="../resources/front/js/part/tab.js"></script>
<script src="../resources/front/js/part/input.js"></script>
</head>
<body class="layout-page">
<!-- //App Header.html -->
	<div id="login-wrap">
		<div class="container">

			<div class="login-box">
				<h1 class="logo">
					<a href="/">
						<span class="sr-only">
							TCK 비즈 메시지센터
							<span class="small">
								trans cosmos korea biz message center
							</span>
						</span>
					</a>
				</h1>
				<form action="" method="post">
					<div class="form-group id">
						<label for="id" class="sr-only">아이디</label>
						<input type="text" name="id" id="id" class="form-control" placeholder="아이디">
					</div>
					<div class="form-group password">
						<label for="password" class="sr-only">비밀번호</label>
						<input type="text" name="password" id="password" class="form-control" placeholder="비밀번호">
					</div>
					<div class="form-group checkbox">
						<div class="col-sm-12">
							<input type="checkbox" id="check-1" class="check-style">
							<label for="check-1">
								<span>아이디 저장</span>
							</label>
						</div>
					</div>
					<div class="submit-box">
						<button type="submit">
					<span class="sr-only">
						로그인
					</span>
						</button>
					</div>
				</form>
			</div>
			<!-- //.login-box -->

			<div class="contact-us">
				<a href="mailTo:master_in@trans-cosmos.co.kr">
					<span>
						불편한 사항이 있으시면 연락바랍니다. 개발운영팀 02-0123-4567 / master_in@trans-cosmos.co.kr
					</span>
				</a>
			</div>
			<div class="copyright">
				<span>ⓒ 2017. transcosmos korea Inc. All rights reserved.</span>
			</div>


		</div>
	</div>


<!-- App Footer.html -->
</body>
</html>
<!-- //App Footer.html -->