<!DOCTYPE html>
<!-- App Header.html -->
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="TCK 홈페이지 입니다." />
<title>TCK</title>
<meta name="theme-color" content="#977049">
<meta name="msapplication-navbutton-color" content="#977049">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="../resources/favicon/android-icon-192x192.png">
<link rel="apple-touch-icon" sizes="57x57" href="../resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="../resources/favicon/favicon.ico">
<link rel="manifest" href="../resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#977049">
<meta name="msapplication-TileImage" content="../resources/favicon/android-icon-192x192.png">
<meta property="og:title" content="TCK">
<meta property="og:url" content="http://도메인/">
<meta property="og:image" content="../resources/favicon/android-icon-192x192.png">
<meta property="og:description" content="TCK 홈페이지 입니다.">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="TCK">
<meta name="twitter:url" content="http://도메인/">
<meta name="twitter:image" content="../resources/favicon/android-icon-192x192.png">
<meta name="twitter:description" content="TCK 홈페이지 입니다.">
<link rel="stylesheet" href="../resources/front/css/phone.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-phone.css" />
<!--[if lt IE 9]><script src="../resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
<script src="../resources/front/js/part/dtree.js"></script>
<script src="../resources/front/js/part/app.js"></script>
<script src="../resources/front/js/part/page.js"></script>
<script src="../resources/front/js/part/tab.js"></script>
<script src="../resources/front/js/part/input.js"></script>
</head>
<body class="layout-page">
<!-- //App Header.html -->
<div id="wrap">

	<div id="header-left">
		<h1 class="logo">
			<a href="/">
					<span class="sr-only">
						TCK 비즈 메시지센터
						<span class="small">trans cosmos korea biz message center</span>
					</span>
			</a>
		</h1>
		<div class="lnb">
			<ul class="lnb-list">
				<li class="eq-0">
					<a href="#">
						<span>운영설정</span>
					</a>
					<ul>
						<li>
							<a href="notice.html">
									<span>
										공지사항
									</span>
							</a>
						</li>
						<li>
							<a href="setting.html">
									<span>
										상담 운영 설정
									</span>
							</a>
						</li>
						<li>
							<a href="setting.html">
									<span>
										챗봇 설정
									</span>
							</a>
						</li>
						<li>
							<a href="setting.html">
									<span>
										차단 설정
									</span>
							</a>
						</li>
						<li>
							<a href="setting.html">
									<span>
										과금 보기
									</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="eq-1 active">
					<a href="bill.html">
						<span>과금내역</span>
					</a>
				</li>
				<li class="eq-2">
					<a href="stats.html">
						<span>통계지표</span>
					</a>
					<ul>
						<li>
							<a href="stats.html">
									<span>
										통계
									</span>
							</a>
						</li>
						<li>
							<a href="stats.html">
									<span>
										대시보드
									</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="eq-3">
					<a href="rawdate.html">
						<span>Rawdate</span>
					</a>
					<ul>
						<li>
							<a href="rawdate.html">
								<span>
									데이터 보관
								</span>
							</a>
						</li>
						<li>
							<a href="rawdate.html">
								<span>
									rawdata
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="eq-4">
					<a href="master.html">
						<span>마스터 메뉴</span>
					</a>
					<ul>
						<li>
							<a href="master-admin.html">
									<span>
										조직 및 계정 관리
									</span>
							</a>
						</li>
						<li>
							<a href="master-notice.html">
									<span>
										공지사항
									</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<a href="#" class="header-left-control">
			<span class="sr-only">
				header-left controller
			</span>
		</a>
	</div>
	<div id="header-top">
		<div class="gnb">
			<ul>
				<li class="eq-0">
					<span class="company">
						트랜스코스모스코리아
					</span>
				</li>
				<li class="eq-1 individual">
					<span class="name">김유신</span>
					님 환영합니다.

					<ul class="individual-list">
						<li>
							<a href="#">
								로그아웃
							</a>
						</li>
						<!--
						<li>
							<a href="#">
								로그인
							</a>
						</li>
						-->
						<li>
							<a href="#">
								내정보
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="member">
			<a href="#">
				<span class="sr-only">member</span>
			</a>
		</div>
	</div>
	<!-- /#header -->
	<div id="container"><div class="section">
	
					<h2 class="section-title">
				<span class="icon icon-this"></span>
				조직 및 계정 관리
			</h2>
		
		<div id="content">


	<h3 class="content-title">
		조직관리
	</h3>
	<div class="group-box">
		<div class="sidebar">
			<div class="dtree">
				<p class="sr-only"><a href="javascript: d.openAll();">open all</a> | <a href="javascript: d.closeAll();">close all</a></p>
				<script type="text/javascript">
					<!--
					d = new dTree('d');

					d.add(0,-1,'PF V2','#link');
					d.add(1,0,'회사 1','#link');
					d.add(2,1,'프로젝트 1','#link');
					d.add(3,1,'프로젝트 2','#link');
					d.add(4,1,'프로젝트 3','#link');
					d.add(5,0,'프로젝트 4','#link');
					d.add(6,5,'프로젝트 5','#link');
					d.add(7,5,'프로젝트 2','#link');
					d.add(8,5,'프로젝트 2','#link');
					d.add(9,0,'프로젝트 2','#link');
					d.add(10,9,'프로젝트 2','#link');
					d.add(11,9,'프로젝트 2','#link');

					document.write(d);

					//-->
				</script>
			</div>
		</div>
		<div class="content-box">
			<form action="">
				<div class="search-box">
					<div class="select-box w120">
						<label for="select" class="select-label"><span>소속</span></label>
						<select name="" id="select" class="form-control">
							<option value="">소속</option>
							<option value="">옵션1</option>
							<option value="">옵션2</option>
							<option value="">옵션3</option>
						</select>
					</div>
					<div class="select-box w120">
						<label for="select" class="select-label"><span>권한</span></label>
						<select name="" id="select" class="form-control">
							<option value="">권한</option>
							<option value="">옵션1</option>
							<option value="">옵션2</option>
							<option value="">옵션3</option>
						</select>
					</div>
					<div class="text-box w75">
						<label for="" class="sr-only">이름</label>
						<input type="text" class="form-control" placeholder="이름">
					</div>
					<div class="text-box w100">
						<label for="" class="sr-only">아이디</label>
						<input type="text" class="form-control" placeholder="아이디">
					</div>
					<button type="submit" class="submit-btn">
				<span class="sr-only">
					검색버튼
				</span>
					</button>
					<button type="button" class="all-btn" data-toggle="modal" data-target="#creidpopup">
						<span>
					계정생성
				</span>
					</button>
					<button type="button" class="all-btn" data-toggle="modal" data-target="#editpopup">
				<span>
					계정수정
				</span>
					</button>
					<button type="button" class="all-btn">
				<span>
					계정삭제
				</span>
					</button>
				</div>
			</form>
			<div class="result-box">
				<ul class="list-title-area has-7item">
					<li class="select">
						<label for="">
							<input type="checkbox">
							선택
						</label>
					</li>
					<li class="name">
						<a href="#">
							이름
						</a>
					</li>
					<li class="id">
						<a href="#">
							아이디
						</a>
					</li>
					<li class="authority lineup">
						<a href="#">
							권한
						</a>
					</li>
					<li class="group lineup">
						<a href="#">
							소속
						</a>
					</li>
					<li class="position lineup">
						<a href="#">
							직급
						</a>
					</li>
					<li class="condition">
						<a href="#">
							계정상태
						</a>
					</li>

				</ul>
				<div class="list-wrap">
					<ul class="list-content-area has-7item">
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="up">
						<span class="sr-only">
							Up
						</span>
					</button>
					<button type="button" class="down">
						<span class="sr-only">
							Down
						</span>
					</button>
				</div>
			</div>

			<form action="">
				<div class="search-box">
					<div class="select-box w160">
						<label for="select" class="select-label"><span>회사1 프로젝트1</span></label>
						<select name="" id="select" class="form-control">
							<option value="">회사1 프로젝트1</option>
							<option value="">옵션1</option>
							<option value="">옵션2</option>
							<option value="">옵션3</option>
						</select>
					</div>
				</div>
			</form>
			<div class="result-box">
				<ul class="list-title-area has-7item">
					<li class="select">
						<label for="">
							<input type="checkbox">
							선택
						</label>
					</li>
					<li class="name">
						<a href="#">
							이름
						</a>
					</li>
					<li class="id">
						<a href="#">
							아이디
						</a>
					</li>
					<li class="authority lineup">
						<a href="#">
							권한
						</a>
					</li>
					<li class="group lineup">
						<a href="#">
							소속
						</a>
					</li>
					<li class="position lineup">
						<a href="#">
							직급
						</a>
					</li>
					<li class="condition">
						<a href="#">
							계정상태
						</a>
					</li>

				</ul>
				<div class="list-wrap">
					<ul class="list-content-area has-7item">
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
						<li>
							<ul class="list">
								<li class="select">
									<label for=""></label>
									<input type="checkbox">
								</li>
								<li class="name">
									홍길동
								</li>
								<li class="id">
									lorem
								</li>
								<li class="authority">
									<select name="" id="">
										<option value="">프로젝트 총괄</option>
										<option value="">TCK 마스터권한</option>
										<option value="">프로젝트 총괄</option>
										<option value="">프로젝트 운영</option>
									</select>
								</li>
								<li class="group">
									Lorem ipsum
								</li>
								<li class="position">
									Lorem ipsum
								</li>
								<li class="condition">
									활성화
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="btn-group">
					<button type="button">
						저장
					</button>
				</div>
			</div>


		</div>
	</div>
	<div class="submit-area">
		<button type="submit" class="submit">
			확인
		</button>
	</div>








</div>
<!-- /#content -->

</div>
<!-- /.section --></div>
<!-- /#container -->
<div id="footer">
	<p class="copyright">
		ⓒ 2017. transcosmos korea Inc. All rights reserved.
	</p>
	<a class="foot-logo">
		<span class="sr-only">transcosmos</span>
	</a>
</div>
<!-- /#footer -->

</div>
<!-- /#wrap --><!-- App Footer.html -->
</body>
</html>
<!-- //App Footer.html -->


<!-- 프로젝트 정보입력 팝업 -->
<div id="inputpopup" role="dialog" class="modal fade input-popup">
	<div class="modal-dialog">
		<div id="detail-popup" class="modal-content">
			<h2 class="sr-only">
				팝업창
			</h2>
			<div class="head">
				<h3 class=" title">
					프로젝트 정보입력
				</h3>
				<a href="#" class="close-popup" data-dismiss="modal">
					<span class="sr-only">
						팝업 닫기
					</span>
				</a>
			</div>
			<div class="cont">
				<div class="cont-box">
					<form action="">
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">발신프로필 UUID</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control">
								</div>
								<div class="col-xs-4 pre">
									<button type="button">중복확인</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">발신프로필</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control">
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">발신 프로필키</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control">
								</div>
								<div class="col-xs-4 pre">
									(sender key)
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">과금 단가</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control" placeholder="0~99,999,999">
								</div>
								<div class="col-xs-4 pre">
									원
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">최소 과금 세션 (월)</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control" placeholder="0~99,999,999">
								</div>
								<div class="col-xs-4 pre">
									개   (99,999,999 원)
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">API URL</label>
							</div>
							<div class="col-xs-9 input-box">
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">select</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<select name="" id="" class="form-control">
										<option value="">option</option>
										<option value="">option1</option>
										<option value="">option2</option>
									</select>
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="submit-area">
					<button type="submit" class="submit">
						확인
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //팝업 -->

<!-- 계정 생성 팝업 -->
<div id="creidpopup" role="dialog" class="modal fade input-popup">
	<div class="modal-dialog">
		<div id="detail-popup" class="modal-content">
			<h2 class="sr-only">
				팝업창
			</h2>
			<div class="head">
				<h3 class=" title">
					계정 생성
				</h3>
				<a href="#" class="close-popup" data-dismiss="modal">
					<span class="sr-only">
						팝업 닫기
					</span>
				</a>
			</div>
			<div class="cont">
				<div class="cont-box">
					<form action="">
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">ID</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control">
								</div>
								<div class="col-xs-4 pre">
									<button type="button">중복확인</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">이름</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control">
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">전화번호</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control">
								</div>
								<div class="col-xs-4 pre">
									
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">이메일</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control">
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">직급</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" class="form-control">
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="submit-area">
					<button type="submit" class="submit">
						계정생성
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //팝업 -->

<!-- 계정 수정 팝업 -->
<div id="editpopup" role="dialog" class="modal fade input-popup">
	<div class="modal-dialog">
		<div id="detail-popup" class="modal-content">
			<h2 class="sr-only">
				팝업창
			</h2>
			<div class="head">
				<h3 class=" title">
					계정 수정
				</h3>
				<a href="#" class="close-popup" data-dismiss="modal">
					<span class="sr-only">
						팝업 닫기
					</span>
				</a>
			</div>
			<div class="cont">
				<div class="cont-box">
					<form action="">
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">ID</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<span>kkkk</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">이름</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" value="김oo" class="form-control">
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">전화번호</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" value="010-1234-1234" class="form-control">
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">이메일</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="email" value="email@domain.com" class="form-control">
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">직급</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<input type="text" value="팀장" class="form-control">
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-3 label-box">
								<label for="">비밀번호 오류횟수</label>
							</div>
							<div class="col-xs-9 input-box">
								<div class="col-xs-8">
									<span class="count">0</span>회
									<button type="button">비밀번호 초기화</button>
								</div>
								<div class="col-xs-4 pre">

								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="submit-area">
					<button type="submit" class="submit">
						저장
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //팝업 -->