/* submit-area */
.submit-area{
	margin-top: 13px;
	text-align: center;
	
	button,
	a{
		/*버튼스타일 초기화*/
		margin: 0;
		background: none;
		box-shadow: none;
		margin-left: 5px;
		
		/* submit-design */
		display: inline-block;
		padding: 13px 45px 13px 28px;
		border: 1px solid #bd3413;
		border-radius: 3px;
		background-image: url(../images/part/section/form/submit.png);
		background-position: 75% 55%;
		background-repeat: no-repeat;
		background-color: #e26042;
		color: #fff;
		
		&:first-child{
			margin-left: 0;
		}
	}
	
	.edit{
		border-color: #cbcbcb;
		color: #636363;
		background-color: #eeeeee;
		background-image: url(../images/part/section/form/reset.png);
	}
	
	.delete{
		border-color: #cbcbcb;
		color: #636363;
		background-color: #eeeeee;
		background-image: url(../images/part/section/form/delete-icon.png);
	}
	
}


/* btn-group */
.btn-group{
	margin-top: 14px;
	display: block;
	height: 40px;
	text-align: center;
	
	&:after{
		clear: both;
		display: block;
		content: '';
	}
	
	button,
	a{
		display: inline-block;
		width: 85px;
		height: 40px;
		border: 1px solid #cbcbcb;
		border-radius: 3px;
		background-color: #f9f9f9; /* Old browsers */
		background-color: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%); /* FF3.6-15 */
		background-color: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
		background-color: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
		margin-left: 3px;
		
		&:first-child{
			margin: 0;
		}
		
		&.up{
			width: 40px;
			background-image: url(../images/part/section/form/up.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
		&.down{
			width: 40px;
			background-image: url(../images/part/section/form/down.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}
}

/* button-edit */
.button-edit{
	button,
	a{
		/*버튼스타일 초기화*/
		margin: 0;
		background: none;
		box-shadow: none;
		margin-left: 5px;
		
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 6px 8px;
		word-break: keep-all;
		font-size: 12px;
		color: #444;
		background-color: #fff;
		
		&:first-child{
			margin-left: 0;
		}
	}
}

/* btn-search */
.btn-type{
	display: inline-block;
	min-width: 40px;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	line-height: 40px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 5px;
	border: 1px solid #d5d5d5;
	
	&.btn-search{
		background-image: url(../images/part/section/form/search-icon.png);
	}
	
	&.btn-add,
	&.btn-delete{
		position: relative;
		width: 90px;
		border-radius: 3px;
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,ececec+100 */
		background: #f9f9f9; /* Old browsers */
		background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
		
		&:after{
			position: absolute;
			top: 50%;
			margin-top: -6px;
			clear: both;
			display: block;
			content: '';
			width: 9px;
			height: 14px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}
	
	&.btn-add{
		padding-right: 25px;
		
		&:after{
			right: 20px;
			background-image: url(../images/part/section/form/btn-add.png);
		}
	}
	&.btn-delete{
		padding-left: 25px;
		
		&:after{
			left: 20px;
			background-image: url(../images/part/section/form/btn-delete.png);
		}
	}
}