
.dib{
	display: inline-block;
}
.w75{
	width: 75px !important;
}
.w100{
	width: 100px !important;
}
.w120{
	width: 120px !important;
}
.w160{
	width: 160px !important;
}
.w230{
	width: 230px !important;
}
.w240{
	width: 240px !important;
}
.w255{
	width: 255px !important;
}
.w340{
	width: 340px !important;
}
.w435{
	width: 435px !important;
}


.w5p{
	width: 5% !important;
}
.w30p{
	width: 30% !important;
}
.w47_5p{
	width: 47.5% !important;
}
.w100p{
	width: 100% !important;
}


