
.w75{
	width: 75px !important;
}
.w100{
	width: 100px !important;
}
.w120{
	width: 120px !important;
}
.w160{
	width: 160px !important;
}
.w240{
	width: 240px !important;
}
.w340{
	width: 340px !important;
}
.w435{
	width: 435px !important;
}


.w100p{
	width: 100% !important;
}


